@import url(../fonts/fonts.css);

button, input[type="reset"], input[type="submit"], input[type="button"] {
  font-size: 13px;
  line-height: 14px;
  height: 14px;
}
h1, h2 {
  font-family: Museo500, sans-serif;
}
#region-toolbar-first {
	min-height: 1px;
}
#region-toolbar-second {
  
}

/*------------------------------------*\
$BLOCKS (GLOBAL)
*------------------------------------*/
#zone-toolbar .block, #region-preface .block {
  float: left;
}
#zone-toolbar #region-toolbar-second .block {
	float: right;
}
#region-sidebar-first .block, #region-content .block, #region-sidebar-second .block {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------*\
  $LAYOUT
\*------------------------------------------------------------------------*/
#section-content {
  margin-top: -146px;
}
#zone-preface, #zone-content, #zone-footer {
  background-color: #FFF;
  position: relative;
  left: 50%;
  width: 960px;
  margin-left: -505px; /*[e]-(960+25+25)/2px*/
  padding-left: 25px;
  padding-right: 25px;
}

/*------------------------------------------------------------------------*\
  $TOOLBAR
\*------------------------------------------------------------------------*/
/*=== $USER-LOGIN ===*/
#block-user-login #toboggan-login {
  position: absolute;
  right: 0;
  top: 33px;
  left: auto;
}

/*------------------------------------------------------------------------*\
  $HEADER
\*------------------------------------------------------------------------*/
#region-header-first .region-header-first-inner {
  padding: 2.5em 2.5em 4em;
  /*+box-shadow:0 1px 10px rgba(29, 29, 29, 0.5);*/
  -moz-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  -webkit-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  -o-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  float: left;
  margin-top: -43px;
  max-width: 500px;
}

/*------------------------------------------------------------------------*\
  $SIDEBAR-SECOND (front page)
\*------------------------------------------------------------------------*/
#region-sidebar-second {
  padding-top: 1.25em; /*[e](20/16) * 1em*/
}
h2.block-title {
  padding-bottom: 0.3125em; /*[e](5/16) * 1em*/
}


/*------------------------------------------------------------------------*\
  $FOOTER
\*------------------------------------------------------------------------*/
#zone-footer h2 {
  font-size: 1.07692307692308em; /*[e](14/13) * 1em*/
  padding-bottom: 6px;
}
#zone-footer-inner {
  padding: 24px;
}
#zone-footer .region-inner {
  padding: 20px 0;
}
.footer-links {
  float: left;
  padding-right: 20px;
  width: 140px; /*[e]60*2+10*2px*/
}
.footer-links li {
  padding-top: 3px;
  padding-bottom: 5px;
}

/*------------------------------------------------------------------------*\
  $CONTENT
\*------------------------------------------------------------------------*/


/*=== ZONE: preface ===*/
/*zone preface contains second level menu (homepage), breadcrumb, page title*/
#zone-preface-wrapper {
  overflow: hidden;
}
#zone-preface {
  padding-top: 35px;
}
.region-preface-inner {
  overflow: hidden;
}
#region-preface-second .region-inner {
  float: right;
  text-align: right;
}

/*=== BLOCK: DELTA-BLOCKS-BREADCRUMBS ===*/
#block-delta-blocks-breadcrumb {
  margin-top: -20px;
}
.view-cmtls-applications {
  font-family: Museo300, sans-serif;
  font-weight: normal;
  font-size: 1.69231em;
}
