/*[fmt]1A20-1A0A-B*/

/* Main text */
body {
    color: #303030;
}

/* Header bg */
#section-header {
  background-color: #282423;
}

/* Logo, title and slogan area */
#region-header-first .region-header-first-inner,
#block-system-main-menu,
.block-nice-menus,

ul.nice-menu-down li ul {
  background: url(../img/bg-90.png) repeat;
}
ul.nice-menu-down li,
ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover,
ul.nice-menu li ul li.menuparent,
ul.nice-menu li ul li.menuparent:hover {
  background-color: transparent;
}

/* Slogan */
#block-delta-blocks-site-slogan,
#block-cmtls-cmtls-site-slogan,
#block-user-login #toboggan-login label {
  color: #BFAC85;
}

/* Login layer */
#block-user-login #toboggan-login {
	background-color: #282423;
}

/* Buttons */
button, input[type="reset"],
input[type="submit"],
input[type="button"],
#tabs ul.primary a,
#block-user-login span.form-submit,
#block-user-login .toboggan-login-link,
.cmtls-tabs a,
a.media-gallery-add,
.field-name-cmtls-group-subscription a {
  background-color: #1C85D5;
}

/* Links colours */
a,
#block-menu-menu-cmtls-global-toolbar a.active-trail {
  color: #1C85D6;
}

/* Active links on group tools menu, login/register page */
.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links #login-link:after,
#block-views-cmtls-applications-block .active {
    color: #282423;
}

#block-system-main-menu .content a,
ul.nice-menu a {
  color: #fff;
}

#block-system-main-menu .content li.active-trail a,
#block-system-main-menu .content li a.active,
ul.nice-menu li.active-trail a,
ul.nice-menu a.active {
  border-top: 5px solid #1C85D6;
  margin-top: 0;
}
ul.nice-menu li.active-trail ul a,
ul.nice-menu ul a.active {
  border-top: none;
}

/* Footer */
#zone-footer {
  background-color: #EDEBEA !important;
}
#zone-footer a {
  color: #6B6964;
}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/* Anything below this is NOT replaced by Color module */

/* Header */
#section-header {
  background-image: url(../img/section-header-default.jpg); /* Header image */
  height: 380px; /* Header height */
}
