/*[fmt]1A20-1A0A-B*/


/* Header */
#section-header {
  background-image: url(../img/section-header-default.jpg); /* Header image */
  height: 380px; /* Header height */
}

/* Backgrounds */
#section-header,
#region-header-first .region-header-first-inner {
  background-color: #282423; /* Brown */
}

button, input[type="reset"], input[type="submit"], input[type="button"], #tabs ul.primary a, #block-user-login span.form-submit, #block-user-login .toboggan-login-link, .cmtls-tabs a, a.media-gallery-add {
  background-color: #1C85D5; /* Blue */
}

/* Link colours */
a,
#block-menu-menu-cmtls-global-toolbar a.active-trail {
  color: #1C85D5; /* Blue */
}

/* Login page */
.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links #login-link:after {
    color: #282423; /* Brown */
}

/* Main menu */
#block-system-main-menu .content li a.active-trail,
#block-system-main-menu .content li a.active {
  border-top: 5px solid #1C85D5; /* Blue */
}

#block-system-main-menu .content li {
  border-bottom: 1px solid #282423; /* Brown */
}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/* Anything below this is NOT replaced by Color module */
