/*@import url(alpha-debug.css);*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em; /*[e](13/16) * 1em*/
  line-height: 1.38461538461538em; /*[e](18/13) * 1em*/
  background: #f5f5f5;
}
input, textarea, button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html.js input.form-autocomplete, html.js input.form-autocomplete {
  background-position: 100% 8px;
}
.form-actions button,
.form-actions input[type="reset"],
.form-actions input[type="submit"],
.form-actions input[type="button"] {
  margin-right: 0.769230769230769em; /*[e](10/13) * 1em*/
}

/*------------------------------------------------------------------------*\
  $LAYOUT
\*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*\
  $TOOLBAR
\*------------------------------------------------------------------------*/
#zone-toolbar-wrapper {
  position: relative;
  z-index: 3;
}
#zone-toolbar {
  padding: 7px 0;
}

/*=== BLOCK: SEARCH-FORM ===*/
#block-search-form {
  float: right;
}
#block-search-form label, #block-search-form h2 {
  display: none;
}
#block-search-form .container-inline div {
  margin: 0;
}
#block-search-form .form-text, #block-search-form .form-submit {
  float: left;
}
#block-search-form .container-inline {
  background: #FFF url(../img/block-search-form.png) no-repeat 97px 5px;
  overflow: hidden;
}
#block-search-form .form-text {
  background: transparent;
  border: 0;
  line-height: 14px;
  height: 14px;
  padding: 7px 0 8px 7px;
  color: #333;
  width: 75px;
  /*+box-shadow:none;*/
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
#block-search-form .form-submit {
  background: transparent;
  overflow: hidden;
  text-indent: -10000px;
  width: 30px;
  min-width: 0;
  padding: 0px;
  height: 29px;
  border: 0;
  /*+box-shadow:none;*/
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/*=== BLOCK: USER-LOGIN ===*/
#block-user-login {
  float: left;
  margin-left: 0.625em;
  z-index: 1;
  position: relative;
}
#block-user-login .toboggan-login-link {
  display: block;
  padding-top: 0.538461538461538em;
  padding-bottom: 0.615384615384615em;
}
#toboggan-login {
  z-index: 4;
}
#block-user-login #toboggan-login {
  /*+text-shadow:0 1px rgba(0, 0, 0, 0.45);*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.45);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.45);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.45);
  text-shadow: 0 1px rgba(0, 0, 0, 0.45);
  position: absolute;
  padding: 1.7em;
  /*+border-radius:3px;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 18em;
  left: 0;
  top: 33px;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 100;
}
#block-user-login #toboggan-login input[type=text],
#block-user-login #toboggan-login input[type=password] {
  font-size: 12px;
}
#block-user-login .fb_user-login-button-wrapper {
  overflow: hidden;
}
#block-user-login .form-text {
  /*+box-sizing:content-box;*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  padding: 7px 10px 8px;
  line-height: 14px;
  height: 14px;
  display: block;
  font-size: 11px;
  border: 0;
  width: 160px;
}
#block-user-login .form-required {
  display: none;
}
#block-user-login .form-actions {
  margin-bottom: 8px;
  margin-top: 8px;
}
#block-user-login .item-list {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  line-height: 14px;
  padding-bottom: 0px;
}
#block-user-login .item-list a {
  font-weight: bold;
}
#block-user-login .form-submit {
  float: right;
}
.toboggan-unified {
  padding-top: 20px;
}
.toboggan-unified #login-message {
    font-family: Museo500, sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 34px;
    line-height: 32px;
    padding-bottom: 8px;
    padding-top: 0;
}
.toboggan-unified #login-links {
    color: #766F62;
    font-family: Museo300,sans-serif;
    font-size: 1.69231em;
    line-height: 1.1em;
    text-align: left;
    margin-bottom: 1em;
}
	/* Overwrite Toboggan defaults */
	.toboggan-unified #login-links a,
	.toboggan-unified #login-links a:hover,
	.toboggan-unified #login-links a.lt-active,
	.toboggan-unified #login-links a.lt-active:hover {
		border: none;
		background: none;
		padding: 0;
	}
	.toboggan-unified #login-links #login-link:after {
		content: " / ";
	}
/*=== $SYSTEM-USER-MENU ===*/
#block-system-user-menu.contextual-links-region {
  padding-right: 24px;
}
#block-system-user-menu .menu {
  padding: 0px;
  margin: 0;
}
#block-system-user-menu .menu li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  padding: 0px 20px 0px 0;
  margin: 0;
}
#block-system-user-menu .menu a {
  color: #FFF;
  font-weight: bold;
  /*+text-shadow:0 1px rgba(0, 0, 0, 0.4);*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  display: block;
  padding-top: 4px;
}
#block-system-user-menu .menu a:hover {
	text-decoration: none;
}


/*------------------------------------------------------------------------*\
  $HEADER
\*------------------------------------------------------------------------*/
#section-header {
  background-repeat: no-repeat;
  background-position: 50% 0;
}
#region-header-first .region-header-first-inner {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*=== BLOCK: logo ===*/
#block-delta-blocks-logo {
  padding: 0.625em 0;
}

/*=== BLOCK: DELTA-BLOCKS-SITE-NAME ===*/
#block-delta-blocks-site-name .site-name,
#block-cmtls-cmtls-site-title h2 {
  font-family: Museo700;
  font-size: 2.30769230769231em; /*[e](30/13) * 1em*/
  line-height: 1em; /*[e](30/30) * 1em*/
  font-weight: normal;
  /*+text-shadow:0 1px rgba(0, 0, 0, 0.3);*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.0333333333333333em; /*[e](1/30) * 1em*/
}
#block-delta-blocks-site-name .site-name a,
#block-cmtls-cmtls-site-title a {
  color: #FFF;
  text-decoration: none;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#block-delta-blocks-site-name .site-name a:hover,
#block-cmtls-cmtls-site-title a:hover {
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
#block-delta-blocks-site-slogan,
#block-cmtls-cmtls-site-slogan {
  padding-top: 0.25em;
  /*+text-shadow:0 1px rgba(0, 0, 0, 0.4);*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-weight: normal;
}
#block-delta-blocks-site-slogan h6,
#block-cmtls-cmtls-site-slogan h6 {
  font-weight: normal;
  font-size: 1.46153846153846em; /*[e](19/13) * 1em*/
}

/*------------------------------------------------------------------------*\
  $FOOTER
\*------------------------------------------------------------------------*/
#zone-footer {
  margin-bottom: 0 !important;
}
#zone-footer h2 {
  font-size: 1.07692307692308em;
  padding-bottom: 6px;
}
#zone-footer-inner {
  padding: 24px;
}
#zone-footer .region-inner {
  padding: 20px 0;
}
.footer-links {
  float: left;
  padding-right: 20px;
  width: 140px;
}
.footer-links li {
  padding-top: 3px;
  padding-bottom: 5px;
}
#zone-footer a {
  line-height: 15px;
}
#zone-footer li {
	margin-left: 0;
}
#zone-footer #block-user-online li {
  display: inline;
}
#zone-footer #block-user-online li:before {
  display: inline;
  content: ", ";
}
#zone-footer #block-user-online li:first-child:before {
  display: inline;
  content: "";
}
#zone-footer .block {
	margin-bottom: 1em;
}



/*------------------------------------------------------------------------*\
  $CONTENT
\*------------------------------------------------------------------------*/
#zone-preface, #zone-content {
  background-color: #fff;
}
#section-content {
  position: relative;
  z-index: 1;
}

/*=== ZONE: MENU ===*/
#zone-menu-wrapper {
  position: relative;
  z-index: 1;
}
.nice-menu {
  position: relative;
  z-index: 2;
}
#block-system-main-menu .content ul,
ul.nice-menu ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-left: -10px;
  margin-right: -10px;
  top: 100%;
}
#block-system-main-menu .content li,
ul.nice-menu li {
  margin: 0px;
  padding: 0 0.9375em; /*[e]0 (15/16)*1em*/
  list-style-image: none;
  list-style-type: none;
  background: none;
}
ul.nice-menu ul {
  border-top: none; /*override module style*/
}
ul.nice-menu-down li ul li ul {
   z-index: 6;
   left: 100%; /*override module style*/
   margin-left: 5px;
}
ul.nice-menu-down li ul li ul li {
   z-index: 7;
}
#block-system-main-menu h2 {
  display: none;
}
#block-system-main-menu .content ul,
ul.nice-menu ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#block-system-main-menu .content li,
ul.nice-menu li {
  float: left;
  margin: 0px;
  padding: 0 15px;
  list-style-image: none;
  list-style-type: none;
  border: 0;
  position: relative;
  z-index: 3;
  text-overflow: ellipsis;
}
#block-system-main-menu .content a,
ul.nice-menu a {
  display: block;
  /*+text-shadow:0 1px rgba(0, 0, 0, 0.3);*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 12px;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.nice-menu li ul a {
  padding: 7px 0 7px;
  margin-top: 0;
}
#block-system-main-menu .content a:hover,
ul.nice-menu a:hover {
  color: #FFF;
}
#block-system-main-menu .content li a.active-trail,
#block-system-main-menu .content li a.active,
ul.nice-menu a.active-trail,
ul.nice-menu a.active {
  color: #FFF;
  margin-top: 0;
}


/*=== ZONE: PREFACE ===*/
/*=== BLOCK: DELTA-BLOCKS-PAGE-TITLE ===*/
#block-delta-blocks-page-title h1 {
  font-size: 34px;
  line-height: 32px;
  padding-top: 0px;
  padding-bottom: 8px;
}

#section-content h2.block-title, h2 {
  font-size: 22px;
  color: #303030;
  font-weight: normal;
  line-height: 24px;
}
#region-preface-second .region-inner {
  border-left: 1px solid #DFDCD7;
  padding: 15px 24px 7px 20px;
  float: left;
  width: 100%;
}
#block-cmtls-cmtls-subscribe {
  padding: 4px 0 0;
  margin: 0 -9px 0 0;
  float: left;
}
#block-cmtls-cmtls-edit-buttons {
  padding: 0;
  float: left;
}
.page-user #block-cmtls-cmtls-subscribe,
.page-user #block-cmtls-cmtls-edit-buttons {
  float: none;
}
.page-user #block-cmtls-cmtls-edit-buttons .cmtls-tabs {
  padding-left: 0;
  padding-top: 15px;
}

/*icon buttons for following thread (future: and reporting spam)*/
#block-cmtls-cmtls-subscribe .flag-wrapper a,
#block-cmtls-cmtls-subscribe .flag-wrapper .flagged, 
#block-cmtls-cmtls-subscribe .flag-wrapper .unflag-action {
  width: 0px;
	padding: 0 0 0 24px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	background-image: url(../img/star-masked-ico.png);
  background-position: 0 -48px;
}
#block-cmtls-cmtls-subscribe .flag-wrapper a:hover,
#block-cmtls-cmtls-subscribe .flag-wrapper a:focus,
#block-cmtls-cmtls-subscribe .flag-wrapper a:active {
	background-position: 0 -24px;
}
#block-cmtls-cmtls-subscribe .flag-wrapper .flagged, 
#block-cmtls-cmtls-subscribe .flag-wrapper .unflag-action {
	background-position: 0 0;
}
/*#block-cmtls-cmtls-subscribe .flag-wrapper .flagged:hover, #block-cmtls-cmtls-subscribe .flag-wrapper .unflag-action:hover,
#block-cmtls-cmtls-subscribe .flag-wrapper .flagged:focus, #block-cmtls-cmtls-subscribe .flag-wrapper .unflag-action:focus,
#block-cmtls-cmtls-subscribe .flag-wrapper .flagged:active, #block-cmtls-cmtls-subscribe .flag-wrapper .unflag-action:active {
	background-color: #c5c5c5;
}*/
.flag-message {
  display: none;
}
/*button for reporting spam
.flagbutton {
	background-image: url(../img/flag-masked-ico.png);
}
.flagbutton {
	background-color: #d6223f;
}
.flagbutton:hover,
.flagbutton:focus,
.flagbutton:active {
	background-color: #fa163b;
}*/
/*show text links in page-user page*/
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-instant-notifications a,
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-instant-notifications .flagged, 
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-instant-notifications .unflag-action,
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-daily-newsletter a,
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-daily-newsletter .flagged, 
#block-cmtls-cmtls-subscribe .flag-wrapper.flag-cmtls-daily-newsletter .unflag-action {
  width: auto;
	padding: 0;
	height: auto;
	display: inline;
	overflow: hidden;
	background-image: none;
  background-color: transparent;
}

#tabs ul.primary {
  border: none;
  margin: 25px 0 25px 32px;
  padding: 15px 24px 15px 20px;
  font-size: 0.8em;
  border-left: 1px solid #DFDCD7;
}
.cmtls-tabs {
  border: none;
  padding: 0 0 15px 20px;
  overflow: hidden;
}
#tabs ul.primary li, .cmtls-tabs li {
  float: left;
  border-width: 0;
  margin: 3px 15px 3px 0px;
}
#tabs ul.primary a, .cmtls-tabs a {
  color: #FFF;
  padding: 5px 10px;
  margin: 0;
  font-weight: bold;
  display: block;
  min-width: 0;
  text-decoration: none;
}

/*=== BLOCK: VIEWS-CMTLS-COMMON-ELEMENTS-BLOCK-1 ===*/
#block-views-cmtls-common-elements-block-1 {
  color: #766F62;
  font-family: Museo300, sans-serif;
  font-size: 17px;
  line-height: 1.1em;
}
#block-views-cmtls-common-elements-block-1 .views-row {
  padding: 0;
}
/*=== BLOCK: DELTA-BLOCKS-BREADCRUMBS ===*/
#block-delta-blocks-breadcrumb {
  font-size: 0.923076923076923em; /*[e](12/13) * 1em*/
  padding: 1em 0;
}
#block-delta-blocks-breadcrumb li {
  background: url(../img/block-delta-blocks-breadcrumb-spacer.png) no-repeat 100% 4px;
  padding-right: 1em; /*[e](12/12) * 1em*/
  margin-right: 0.416666666666667em; /*[e](5/12) * 1em*/
}
#block-delta-blocks-breadcrumb li.last {
  background: none;
}
/*------------------------------------------------------------------------*\
== $VIEW ==
\*------------------------------------------------------------------------*/
.ds-left {
  float: left;
  padding-right: 10px;
}
.ds-right {
  float: right;
  padding-left: 10px;
}
.ds-content {
  overflow: hidden;
}
.ds-content h2 {
  font-weight: normal;
}
.ds-content h2 a {
  /*[disabled]color:#303030;*/
}
.ds-footer {
  overflow: hidden;
}
.ds-footer .field, .ds-footer .field-item {
  float: left;
}
.ds-footer .field {
  padding-right: 10px;
}
.ds-footer .field-name-field-cmtls-tags {
  text-transform: lowercase;
}
.ds-footer .field-name-field-cmtls-tags .field-item {
  padding-right: 4px;
}
.ds-footer .field-name-field-cmtls-tags .field-item:after {
  content: ",";
}
.ds-footer .field-name-field-cmtls-tags .field-item:last-child:after {
  content: normal;
}
/*@todo: kuna ei toimi ie7-ie8 korralikult, siis praegu disabled*/
.view .ds-footer .field-item:after {
  /*[disabled]content:", ";*/
}
.view .ds-footer .field-item:last-child:after {
  /*[disabled]content:close-quote;*/
}
.view .view-content .views-row {
  padding-bottom: 1.66666666666667em; /*[e](20/12) * 1em*/
}
.views-field-field-cmtls-address .street-block div,
.field-type-addressfield .street-block div {
  display: inline;
  margin: 0 0.4em 0 0;
}

/*=== VIEW: group ===*/
.view-cmtls-group .view-filters {
  padding-bottom: 20px;
}
.view-cmtls-group .view-content .ds-left {
  padding-right: 20px;
}
.view-cmtls-group .view-content .ds-right {
  padding-left: 20px;
}
.view-cmtls-group .view-content .field-name-field-cmtls-group-avatar img {
  /*+box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);*/
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.view-cmtls-group .view-content h2, .node-cmtls-post .ds-content h2 {
  font-size: 1.66666666666667em; /*[e](20/12) * 1em*/
  line-height: 1.5em;
  padding-bottom: 0.4em; /*[e](8/20) * 1em*/
}

.view-cmtls-group .view-content .field-name-body p, .node-cmtls-post .ds-content .field-name-body p {
  margin: 0;
}
.ds-footer .field-items, .ds-footer .field-items a {
  color: #757575;
}

/*=== VIEW: members (latest members) ===*/
.view-cmtls-members .view-content .views-row {
  padding-bottom: 0.416666666666667em; /*[e](5/12) * 1em*/
}
.view-cmtls-members .view-content h2 {
  font-family: Arial, sans-serif;
  font-size: 1.16666666666667em; /*[e](14/12) * 1em*/
}
.view-cmtls-members .field-name-ds-user-picture img {
  width: 50px;
  height: auto;
}
/*=== VIEW: group content (normal page) ===*/
.view-cmtls-group-content .views-row {
  padding-bottom: 15px;
}
.view-cmtls-group-content h2 {
  font-weight: normal;
  font-size: 1.66666666666667em; /*[e](20/12) * 1em*/
  font-family: Museo500;
  padding-bottom: 5px;
}
.view-cmtls-group-content h2 a {
  /*[disabled]color:#303030;*/
}
.view-cmtls-group-content .field-name-body {
  /*[disabled]font-size:12px;*/
}
.view-cmtls-group-content .view-content .ds-footer {
  /*[disabled]font-size:(12/16) * 1em;*/ /*[e](12/16) * 1em*/
}
.ds-footer .field-items, .ds-footer .field-items a {
  color: #757575;
}
.ds-footer .field-name-field-cmtls-location .adr {
  padding-left: 2px;
  position: relative;
  min-width: 12px;
  min-height: 18px;
}
.ds-footer .field-name-field-cmtls-location .adr span {
  background-image: url(../img/geotag.png);
  overflow: hidden;
  text-indent: -10000px;
  width: 8px;
  height: 12px;
  /*[disabled]margin-top:(4/12)*1em;*/ /*[e](4/12)*1em*/
  top: 2px;
  position: absolute;
}
.ds-footer .field {
  background: url(../img/view-cmtls-group-ds-footer-bullet.png) no-repeat 0 7px;
  padding-left: 11px;
  padding-right: 7px;
}
.ds-footer .field.field-name-cmtls-location-indicator,
.ds-footer .field:first-child {
  background: none;
  padding-left: 0;
}
.cmtls-location-indicator {
  background: url(../img/geotag.png) no-repeat 0 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 8px;
  height: 18px;
}
.ds-footer .field-name-field-cmtls-location .adr .fn {
  background: transparent;
  text-indent: 0;
  width: auto;
  height: auto;
  padding-left: 0.833333333333333em; /*[e](10/12) * 1em*/
  position: static;
}
.ds-footer .field-name-field-cmtls-location .adr div {
	display: inline;
}
.ds-footer .field-name-field-cmtls-address  div {
  display: inline;
  clear: none;
}
.ds-footer .field-name-field-cmtls-address .street-block div,
.ds-footer .field-name-field-cmtls-address .name-block div {
  margin: 0 0.4em 0 0;
}
.ds-footer .addressfield-container-inline:after {
  content: normal;
}

/*=== SEARCH PAGE (not a view) ===*/
.page-search .node-cmtls-group {
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.page-search .node-cmtls-group .ds-left {
  float: left;
  width: 85px;
  padding: 0 20px 0 0;
}
.page-search .node-cmtls-group .ds-right {
  float: right;
}
.page-search .view-mode-cmtls_teaser {
  margin: 0 0 2em;
}
.page-search .ds-content h2 {
  font-size: 1.66666666666667em; /*[e](20/12) * 1em*/
  line-height: 1.5em;
  padding-bottom: 0.4em; /*[e](8/20) * 1em*/
}

/*=== MEDIA GALLERY ===*/
.node-media-gallery {
  overflow: hidden;
}
.media-gallery-item-wrapper {
  float: left;
  /*[empty]padding-left:;*/
  padding-right: 10px;
  padding-bottom: 10px;
}

/********** GROUP TOOLS MENU  *********/
/*=== BLOCK: cmtls-applications ===*/
#block-views-cmtls-applications-block {
  margin-left: -6px;
  font-size: 1.1em;
  padding: 0 0 30px;
  font-weight: bold;
  font-size: 1.1em;
}
#block-views-cmtls-applications-block .views-row {
  background: url(../img/block-cmtls-applications-block.png) no-repeat 100% 11px;
  float: left;
  padding-right: 10px;
  padding-left: 6px;
  padding-bottom: 0px;
}
#block-views-cmtls-applications-block .views-row-last {
  background-image: none;
}
.block-cmtls-applications-block .views-row:after {
  /*[disabled]content:"•";*/
  /*[disabled]color:#808080;*/
}

/*=== CONTENT ===*/
.content .field-name-body {
  /*[disabled]font-size:(12/16) * 1em;*/ /*[e](12/16) * 1em*/
}
.content .field-name-body p {
  margin: 0.833333333333333em 0; /*[e](10/12) * 1em 0*/
}
/*=== FORM POST ===*/
.node-cmtls_post-form .horizontal-tabs-list {
}
/*=== system.theme.css. or not? ===*/
.fieldset-wrapper .description {
  font-size: 0.846153846153846em !important; /*[e](11/13) * 1em*/
  color: #808080;
  margin: 0.454545454545455em; /*[e](5/11) * 1em*/
}
.fieldset-wrapper input[type=file] {
  margin-right: 10px;
}
.node-form input#edit-title {
  font-size: 1.46153846153846em; /*[e](19/13) * 1em*/
  font-weight: bold;
  width: 23.2631578947368em; /*[e](442/19) * 1em*/
}
/*=== location.css ===*/
#cmtls-location-node-form .group-left, #cmtls-location-node-form .group-right {
  width: 49%;
}
#cmtls-location-node-form .group-right {
  margin-left: 2%;
}
#cmtls-location-node-form .form-item {
  margin: 1.5em 0;
}
#cmtls-location-node-form label {
  padding: 0.153846153846154em 0; /*[e](2/13)*1em 0*/
}

/******** CMTLS BREADCRUMBS ****************/
.view-display-id-cmtls_common_elements_breadcrumb .views-field:after {
    content: "»";
    margin: 0 2px;
    color: #ccc;
}

	.view-display-id-cmtls_common_elements_breadcrumb .views-field a {
	    color: #bbb;
	}

	.view-display-id-cmtls_common_elements_breadcrumb .views-field:last-child:after {
	    content: none;
	}


/******** POST AUTHOR ****************/
.view-display-id-cmtls_common_elements_date_author .views-field {
    display: inline;
}

.view-display-id-cmtls_common_elements_date_author .views-field:after {
    content: "•";
    margin: 0 2px;
    color: #ccc;
}

	.view-display-id-cmtls_common_elements_date_author .views-field:last-child:after {
		content: none;
	}


/******** COMMENTS ****************/

#comments {
	font-size: 12px;
}

	.comment {
		border-bottom: 1px solid  #ccc;
		padding: 10px 0;
	}

		.comment:first-child {
			border-top: 1px solid #ccc;
		}

		.comment .ds-left,
		.comment a.username {
			float: left;
		}

		.comment .ds-content {
			overflow: hidden;
		}

		.comment .field-name-ds-user-picture {
			margin-right: 10px;
		}

			.comment .field-name-ds-user-picture img {
				height: 60px;
				width: 60px;
			}
      .comment.view-mode-cmtls_teaser .ds-left {
        width: 70px;
      }

		.comment .field-name-post-date {
			color: #777;
		}

		.comment a.username {
			margin-right: 5px;
			}

	#comments h2.comment-form {
		display: none;
	}

/******** "RISE" SOME CONTENT ELEMENTS ****************/

#region-content .views-row .node-cmtls-group,
#region-content .user-profile {
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

/******** FORMS - SHOULD BE MOVED TO MODULE CSS PROBABLY ****************/

/* Hide menu and other advanced Drupal options from cmtls forms */
.node-form .vertical-tabs {
  display: none;
}

/* Hide text filter options from cmtls forms */
.filter-wrapper {
  display: none;
}

/* Hide advanced options from gallery form */
#media-gallery-node-form #edit-settings-wrapper {
  display: none;
}

/* Hide coordinats fields from location form. Maybe these should be tuned in form template instead. */
#edit-field-cmtls-location .description,
#edit-field-cmtls-location .form-item-field-cmtls-location-und-0-locpick-user-latitude,
#edit-field-cmtls-location .form-item-field-cmtls-location-und-0-locpick-user-longitude,
#edit-field-cmtls-location .location-current-coordinates-fieldset {
	display: none;
}

/* Hide location name from Location nade form only. Should be visible on other forms for predefined location search */
#cmtls-location-node-form .form-item-field-cmtls-location-und-0-name {
	display: none;
}

/* Throbbler for location lookup field */
.ui-autocomplete-input {
    background-image: url('../../../../../misc/throbber.gif');
    background-position: 100% 8px;
    background-repeat: no-repeat;
}
	.ui-autocomplete-loading {
		background-position: 100% -13px;
	}
  
/* Hide hidden captcha */ 
.comment-form .captcha.form-wrapper {
  display: none;
  visibility: hidden;
}


/********* GOOGLE MAP ******************/
/* Make Reigo happy */
.gmap {
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px !important;
}

/********* FACEBOOK LOGIN ******************/
/* Hide the progress bar appearing on top of the page by logintogobar module */
#fb_js_pb {
	display: none;
}