/*[fmt]1A20-1A0A-B*/

/*
  #1C85D5 - blue
  #282423 - brown

*/

/* Header */

#section-header {
  background-image: url(../img/section-header-default.jpg);
  background-color: #282423;
  height: 380px;
}

#block-delta-blocks-site-name {
  background-color: #282423;
}

/* Main menu */

#block-system-main-menu .content li a.active-trail,
#block-system-main-menu .content li a.active {
  border-top: 5px solid #1C85D5;
}

a, #block-menu-menu-cmtls-global-toolbar a.active-trail {
  color: #1C85D5;
}

/* Login page */
.toboggan-unified #login-links a.lt-active {
    color: #282423;
}
  .toboggan-unified #login-links #login-link:after {
    content: " / ";
    color: #282423;
}


button, input[type="reset"], input[type="submit"], input[type="button"], #tabs ul.primary a, #block-user-login span.form-submit, #block-user-login .toboggan-login-link, .cmtls-tabs a, a.media-gallery-add {
  background-color: #1C85D5;
}

#block-system-main-menu .content li {
  border-bottom: 1px solid #282423;
}

#region-header-first .region-header-first-inner {
  background-color: #282423;
}
