/* new breadcrumb */

.view-id-cmtls_common_elements .views-field a {
	color: #ccc;
}

.view-id-cmtls_common_elements .views-field:after {
    content: "»";
    margin: 0 2px;
}

.view-id-cmtls_common_elements .views-field:last-child:after {
    content: none;
}

/* post author */

.view-id-cmtls_common_elements .views-field {
    display: inline;
}

/* header */

#section-header {
    height: 380px !important;
}


/* account register */

.toboggan-unified #login-message {
    font-family: Museo500, sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 34px;
    line-height: 32px;
    padding-bottom: 8px;
    padding-top: 0;
}

.toboggan-unified #login-links {
    font-size: 1em;
    text-align: left;
    margin-bottom: 1em;
}