/*[fmt]1A20-1A2B-B*/
body {
  /*[disabled]font-family:Helvetica, Arial, sans-serif;*/
  /*[disabled]font-size:14px;*/
  /*[disabled]line-height:100%;*/
  }

a {
  /*[disabled]text-decoration:none;*/
  }

h1 {
  /*[disabled]font-size:190%;*/
  /*[disabled]line-height:95%;*/
  /*[disabled]margin-bottom:0.4em;*/
  /*[disabled]color:#666;*/
  }

h2 {
  /*[disabled]font-size:150%;*/
  /*[disabled]line-height:95%;*/
  /*[disabled]margin-bottom:0.4em;*/
  }

h2.block-title {
  /*[disabled]font-size:110%;*/
  }

h3 {
  /*[disabled]font-size:130%;*/
  }

h4 {
  /*[disabled]font-size:115%;*/
  }

h5 {
  /*[disabled]font-size:105%;*/
  }

h6 {
  /*[disabled]font-size:100%;*/
  }

#zone-toolbar {
  /*[disabled]font-size:75%;*/
  }

#block-menu-block-1 ul {
  /*[disabled]font-size:0;*/
  }

#block-menu-block-1 ul li {
  /*[disabled]font-size:15px;*/
  }

#zone-content {
  /*[disabled]line-height:120%;*/
  }

#zone-footer {
  /*[disabled]font-size:75%;*/
  }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*18 / 13 = photoshopist tavalisel tekstil line-height on 18 ja fondi suurus 13, võiks ju ka lihtsalt 18px kirjutada*/
  font-size: 0.8125em; /*[e](13/16) * 1em*/
  line-height: 1.38461538461538em; /*[e](18/13) * 1em*/
  color: #303030;
  }

input, textarea, button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  }

a {
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  }

h1, #login-message {
  font-family: Museo500, sans-serif;
  font-weight: normal;
  }

/*todo? em based fonts*/
#section-content h2.block-title {
  font-size: 22px;
  color: #303030;
  font-weight: normal;
  line-height: 24px;
  }

/*=== BLOCK: VIEWS-CMTLS-COMMON-ELEMENTS-BLOCK-1 ===*/
#block-views-cmtls-common-elements-block-1 {
  color: #766F62;
  font-family: Museo300, sans-serif;
  font-size: 1.69230769230769em; /*[e](22/13) * 1em*/
  line-height: 1.1em;
  }

