
@import url(../fonts/fonts.css);

a {
  cursor: pointer;
}
/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 30em;
}
#color_scheme_form #palette .form-item label {
  width: 20em;
}
#placeholder {
  top: 50px !important;
}
#palette .lock {
  top: -2em !important;
}
/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
  border: 1px solid #ccc;
  width: 700px;
  -moz-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  -webkit-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  -o-box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
  box-shadow: 0 1px 10px rgba(29, 29, 29, 0.5);
}

#preview-header {
  background: #282423;
}

#preview-header-inner {
  background-image: url(../img/section-header-default.jpg); /* Header image */
  padding: 20px 20px 0 20px;
  margin: 0 30px;
}

#preview-logo-area {
  float: left;
  padding: 20px;
  margin: -20px 0 20px 20px;
  text-align: center;
}

#preview-logo-area,
#preview-menu {
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

#preview-site-name {
  font-family: Museo700;
  font-size: 2.30769em;
  font-weight: normal;
  line-height: 1em;
  padding-bottom: 0.0333333em;
}


  #preview-site-name a {
    color: #fff;
    text-decoration: none;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
  }

	#preview-site-name a:hover {
	  filter: alpha(opacity=100);
	  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	  -moz-opacity: 1;
	  opacity: 1;
	}

#preview-site-slogan {
  color: #BFAC85;
  font-weight: normal;
  margin: 5px 0;
  font-size: 1.46153846153846em; /*[e](19/13) * 1em*/
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  -o-text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-weight: normal;
}

#preview-menu {
  background-image: url(../img/block-system-main-menu.png);
}

#preview-menu ul {
  margin: 0;
  padding: 0;
}

  #preview-menu li {
    list-style-image: none;
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0 15px;
  }

  #preview-menu li a {
    display: block;
    -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 12px;
    margin: 0;
	filter: alpha(opacity=75);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	color: #fff;
  }

  #preview-menu li a.active,
  #preview-menu li a:hover {
    color: #fff;
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
  }

  #preview-menu li a.active {
    border-top: 5px solid #1C85D6;
  }

#preview-preface {
  margin: 20px 30px 0 30px;
  padding-left: 20px;
}

#preview-preface-first {
  float: left;
}
#preview-preface-second {
  float: right;
  border-left: 1px solid #DFDCD7;
  padding: 5px 0 5px 20px;
}

#preview-preface h1 {
    font-size: 34px;
    line-height: 32px;
    padding-bottom: 8px;
    padding-top: 0;
    font-family: Museo500,sans-serif;
    font-weight: normal;
}

#preview-button {
  color: #FFF;
  padding: 5px 10px;
  margin: 0;
  font-weight: bold;
  display: block;
  min-width: 0;
  text-decoration: none;

  background-color: #1C85D5;
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
}

#preview-content {
  background: #fff;
  margin: 0 30px;
  padding: 0 20px 20px 20px;
}

#preview-footer {
  margin: 0 20px;
  padding: 20px;
}
